.select {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d6dbe1;
  border-radius: 8px;
  font-size: 16px;
  background: #f9fafb;
  color: #19191a;
  outline: none;
  transition: border 0.2s;
  padding: 12px 16px;
  margin: 0;
}
.select:focus {
  border-color: #e60000;
} 